.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.buttonPreview {
  width: 43.75rem;
  height: 3.625rem;
  border: none;
  margin-bottom: 6.725rem;
  margin-top: 5.5rem;
  border-radius: 4px;
}
