.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  transition: filter 0.2s;
  width: 43.75rem;

  & + & {
    margin-top: 3.125rem;
  }

  &:hover {
    filter: opacity(0.8);
  }

  strong {
    font-size: 2.125rem;
    font-weight: 700;
  }

  > p {
    font-size: 1.375rem;
    color: #D7D7D7;
    margin-top: 0.5rem;
  }

  > div {
    display: flex;
    margin-top: 1.5625rem;
    align-items: center;

    time {
      color: #bbbbbb;
      font-size: 0.875rem;
      margin-right: 1.6875rem;
    }

    p {
      color: #bbbbbb;
      font-size: 0.875rem;
    }

    svg {
      margin-right: 0.65625rem;
    }
  }
}


.containerHandleActions {
  margin-top: 4.104375rem;
  margin-bottom: 2.5rem;

  button {
    font-weight: 600;
    font-size: 1.125rem;
    color: #FF57B2;
    transition: filter 0.2s;
    background: transparent;
    border: none;

    &:hover {
      filter: opacity(0.8);
    }
  }
}
